.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --gray-alpha-300: rgba(var(--gray-rgb), 0.12);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100svh;
}

.main {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  grid-column-start: 1;
  height: 100svh;
}

.section {
  display: grid;
  grid-template-rows: 10rem 2fr 10rem;
  height: 100svh;
  grid-column-start: 2;
  padding: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}
